
/********************/
/*		Popup		*/
/********************/

#selectedFeatureDiv
{
	padding: 20px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid orange;
	position: absolute;
	left: -11;
	top: 90;
}

/********************************/
/*			Common				*/
/********************************/

#featureList .selected, #quicklook.selected, #quicklookFits.selected, #healpix.selected, #solarObjects.selected, #dynamicImageView.selected
{
	box-shadow: inset 0px 0px 3px 1px #F8A102;
	border-radius: 8px;
}

/********************************/
/*			Left pane			*/
/********************************/

#leftDiv
{
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

#featureListDiv
{
	max-height: 300px;
	overflow-y: hidden;
	max-width: 161px;
}

/* Inner feature list for scrolling */
#featureList
{
	position: relative;
	top: 0px;
}

#featureList > div
{
	padding: 5px;
	text-align: center;
}

/* Content of featureList */
.featureTitle
{
	cursor: pointer;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

/*** Feature list scroll ***/
.scroll-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid gray;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 69px;
}

.scroll-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid orange;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 69px;
	
}


/********************************/
/*			Right pane			*/
/********************************/

#rightDiv
{
	display: inline-block;
}

/*** Thumbnail ***/
.thumbnail
{
	text-align: right;
	display: block;
}


/*** Table ***/
.selectValue
{
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.selectProperty
{
	width: auto;
}

.featureProperties
{
	max-height: 340px;
	overflow-y: hidden;
	outline: none;
	display: inline-block;
	padding-right: 10px;
}

.propertiesTable {
	table-layout: fixed;
	width: 300px;
}

.propertiesTable td {
	border-width: 1px;
	padding: 4px;
}

.propertiesTable td th {
	color: #FFEABD;
}


/* Sub-section menu in table */
.section {
	color: white;
	cursor: pointer;
}

.arrow-right {
	float: left;
	margin: 5px 8px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid white;
}

.arrow-bottom {
	float: left;
	margin: 8px 6px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
}



/*** Services ***/
#quicklook, #quicklookFits, #healpix, #solarObjects, #sendImage
{
	cursor: pointer;
}

#services
{
	margin-top: 10px;
	text-align: center;
	padding: 3px;
}

#services a, #services img, #services span
{
	padding: 4px;
}

#pileStashHelp
{
	width: 150px;
}

#solarObjectsSpinner
{
	float: left;
	left: 345px;
	top: 363px;
	width: 15px;
	position: absolute;
	display: inline-block;
}
#dynamicImageView
{
	width: 24px;
	height: 24px;
	display: inline-block;
}

.dynamicAvailable
{
	background: url("images/curvesSprite.png") 0 0 no-repeat;
	background-position: 0px 1px;
	cursor: pointer;
}

.dynamicNotAvailable
{
	background: url("images/curvesSprite.png") 0 0 no-repeat;
	background-position: 0px -27px;
	cursor: default;
}