/*** Background layers ***/

#layerManager fieldset
{
	border: none;
}

#layerManager fieldset select {
	min-width: 150px;
}

#backgroundLayers
{
	margin-right: inherit;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
/*
#backgroundLayers > label
{
	margin-left: 30px;
	margin-bottom: 3px;
	display: inline-block;
}


a#backgroundLayers{ height: 2.8em;}

#backgroundLayers li a, body a#backgroundLayers span.ui-selectmenu-status
{
	line-height: 2em;
	padding-left: 30px !important;
}

*/

.unknown .ui-selectmenu-item-icon {
	background: url(../css/images/unknown.png) 0 0 no-repeat;
}

/*** Additionnal layers ***/

.addLayer
{
	position: relative;
	margin-bottom: 10px;
}

.percentInput
{
	border:0;
	background-color: transparent;
	width: 40px;
	color:#f6931f;
	font-weight:bold;
	value: 20%;
}
/*
.layerVisibilityRadioDiv
{
	display: inline;
}

.on .ui-button-text, .off .ui-button-text
{
	padding: .2em .4em;
}

*/
.ui-icon-empty {
	background-position: 16px 16px;
}

.deleteLayer
{
/*	position: absolute;
	display: inline;
	right: -20px;
	top: 1px;*/
	cursor: pointer;
}

/*** Common ***/

.layerIcon
{
	/*margin-right: 5px;
	margin-left: 5px;
	float: left;*/
	display: inline;
}

