/*** Background layers ***/

#layerManager fieldset
{
	border: none;
}

#layerManager fieldset select {
	min-width: 150px;
}

#layerManager {
	max-height: 450px;
}

#backgroundLayers
{
	margin-right: inherit;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.unknown .ui-selectmenu-item-icon {
	background: url(../css/images/unknown.png) 0 0 no-repeat;
}

/*** Additionnal layers ***/

.addLayer > label
{
	position: relative;
}

.spinner
{
	position: absolute;
	right: -20px;
	top: 0px;
	width: 16px;
	height: 16px;
}

.layerColor
{
	width: 15px;
	height: 10px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: -3px;
}

.addLayer
{
	position: relative;
	margin-bottom: 10px;
}

.percentInput
{
	border:0;
	background-color: transparent;
	width: 40px;
	color:#f6931f;
	font-weight:bold;
	value: 20%;
}

.ui-icon-empty {
	background-position: 16px 16px;
}

.deleteLayer
{
	cursor: pointer;
}

/*** Common ***/

.layerIcon
{
	display: inline;
}

