#quicklook
{
	cursor: pointer;
}

#selectedFeatureDiv
{
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border:solid 1px orange;
	padding: 20px;
	border-radius: 10px;
	z-index: 10;
}

#featureList > div
{
	padding: 5px;
	text-align: center;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid orange;
	position: absolute;
	left: -11;
	top: 90;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid orange;
	position: absolute;
	left: 20;
	top: 90;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid orange;
	position: absolute;
	left: 280;
	bottom: -10px;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid orange;
}

table.picking {
}

.selectValue
{
	color: white;
}

table.picking td {
	border-width: 1px;
	padding: 4px;
}

.closeBtn
{
	background:url(../css/images/close_button.png) no-repeat;
	width:30px;
	height:30px;
	position: absolute;
	top: -15px;
	right: -15px;
}

.closeBtn:hover
{
	background:url(../css/images/close_buttonHover.png) no-repeat;
	cursor:pointer;
}

.thumbnail
{
	text-align: right;
	display: block;
}

.thumbnail img
{
	#height: 25%;
}

#selectionListDiv
{
	display: inline-block;
	width: auto;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border:solid 1px orange;
}

#detailedInfo
{
	float: right;
}

#featureListDiv
{
	display: inline-block;
	margin-right: 20px; 
}

#pileStashHelp
{
	float: right;
	width: 150px;
}

.selectedFeature
{
	box-shadow: inset 0px 0px 3px 1px #F8A102;
	border-radius: 10px;
}

#services
{
	margin-top: 10px;
	text-align: center;
}