#quicklook
{
	cursor: pointer;
}

#selectedFeatureDiv
{
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border:solid 1px orange;
	padding: 20px;
	border-radius: 10px;
	z-index: 10;
}

#featureList > div
{
	padding: 5px;
	text-align: center;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid orange;
	position: absolute;
	left: -11;
	top: 90;
}

.scroll-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid gray;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 50px;
}

.scroll-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid orange;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 50px;
	
}

#detailedInfo
{
	max-height: 400px;
	max-width: 380px;
	overflow: auto;
	z-index: 100;
}

.selectValue
{
	color: white;
}

table.picking td {
	border-width: 1px;
	padding: 4px;
}

.closeBtn
{
	position: absolute;
	top: -15px;
	right: -15px;
	cursor:pointer;
	display: inline;
}

.thumbnail
{
	text-align: right;
	display: block;
}

.thumbnail img
{
	#height: 25%;
}

#featureListDiv
{
	max-height: 300px;
	overflow-y: hidden;
}

#featureList
{
	position: relative;
	top: 0px;
}

#pileStashHelp
{
	width: 150px;
}

.selectedFeature
{
	box-shadow: inset 0px 0px 3px 1px #F8A102;
	border-radius: 10px;
}

#services
{
	margin-top: 10px;
	text-align: center;
}

#leftDiv
{
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

#rightDiv
{
	display: inline-block;
}

.featureTitle
{
	cursor: pointer;
}