#reverseNameResolver
{
	padding: 10px;
}

.credit
{
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.title
{
	color:white;
	font-weight:bold;
	text-align: center
}

#reverseSearchField input[type="submit"]
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 10px;
}