@import url('layerManager.css');

#accordion > div, #accordion h3
{
	box-shadow: 0.3em 0.3em 0.9em black;
}

#accordion > div
{
	position: relative;
}

.sidebar
{
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 10px;
	padding: 0px;
	margin: 5px;
	width: 250px;
	background: rgba(76, 109, 131, 0);
}