@import url('jquery-ui-1.8.23.custom.css');
@import url('nameResolver.css');
@import url('sidebar.css');
   
em
{
	color: #6BCAFF;
}

#fps
{
	position: absolute;
	z-index: 0;
	border: 1px solid black;
	background-color: rgb(255,255,255);
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	opacity: 0.8;
	border-radius: 10px;
	padding: 5px;
	border:solid 1px orange;
	font-weight:bold;
	left: 20px;
	bottom: 20px;
}

#webGLNotAvailable
{
	width: 1024;
	height: 768; 
	padding-top: 300px;
	text-align: center;
	display: none;
}

body
{
	background: rgba(76,109,131,0.7);
	padding: 0px;
	margin: 0px;
	overflow: auto;
}

.canvas{
	width:100%;
	height:100%;
}

/**
 * Small modifications on jQuery UI
 */
.ui-widget
{
	font-size: 0.9em;
}

.ui-widget .ui-widget {
	font-size: 0.8em;
}

/**
 * Stylized scrollbar (only for webkit : chrome and safari)
 */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
	
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#DFDFDF;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}