@import url('jquery-ui-1.8.23.custom.css');
@import url('jquery.ui.selectmenu.css');
@import url('nameResolver.css');
@import url('reverseNameResolver.css');
@import url('pickingManager.css');
@import url('sidebar.css');
   
em
{
	color: #6BCAFF;
}

/*** Error box ***/
.errorBox
{
	box-shadow: 0 0 6px red, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border: solid 1px red;
	text-align: center;
	max-height: 100px;
}

/*** Statistics box ***/
.statBox
{
	background-color: rgb(255,255,255);
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	opacity: 0.8;
	border-radius: 10px;
	padding: 5px;
	border:solid 1px orange;
	font-weight:bold;
}

.contentBox
{
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border:solid 1px orange;
	border-radius: 10px;
	background-color: black;
	z-index: 2;
}

/*** Iframe containing data from external resource ***/
#externalIFrame
{
	left: 150px;
	top: -1000px;
	position: absolute;
	padding: 15px;
	background-color: white;
	z-index: 3;
}

#externalIFrame Iframe
{
	width: 1000px;
	height: 500px;
	border: none;
}

#fps
{
	position: absolute;
	left: 20px;
	bottom: 20px;
}

#fov
{
	position: absolute;
	left: 20px;
	bottom: 100px;
}

#webGLNotAvailable, #webGLContextLost
{
	width: 1024;
	height: 768; 
	padding-top: 300px;
	text-align: center;
	display: none;
}

body
{
	background: rgba(76,109,131,0.7);
	padding: 0px;
	margin: 0px;
	overflow: auto;
}

/*** Fullscreen canvas ***/
.canvas
{
	width:100%;
	height:100%;
}

#loading
{
	position: absolute;
	left: 50%;
	top: 50%;
}

/*** Stylized fade on hover effect ***/
.defaultImg
{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}

.hoverImg
{
	position: absolute;
	top: 0;
	right: 0;
}

/**
 * Small modifications on jQuery UI
 */
.ui-widget
{
	font-size: 0.9em;
}

.ui-widget .ui-widget {
	font-size: 0.8em;
}

/**
 * Stylized scrollbar (only for webkit : chrome and safari)
 */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
	
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#DFDFDF;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}