@import url('jquery-ui-1.9.2.custom.css');
@import url('jquery.ui.selectmenu.css');
@import url('nameResolver.css');
@import url('reverseNameResolver.css');
@import url('featurePopup.css');
@import url('sidebar.css');
@import url('layerServiceView.css');
@import url('mollweideViewer.css');
@import url('imageProcessing.css');
@import url('share.css');
@import url('samp.css');
@import url('imageViewer.css');
   
em
{
	color: #6BCAFF;
}

body
{
	background: rgb(0,0,0);
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/************************/
/*		Error box		*/
/************************/
.errorBox
{
	box-shadow: 0 0 6px red, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border: solid 1px red;
	text-align: center;
}

#webGLNotAvailable, #webGLContextLost
{
	width: 1024;
	height: 768; 
	padding-top: 300px;
	text-align: center;
	display: none;
	color: white;
}

/****************************/
/*		Attributions		*/
/****************************/

#attributions
{
	text-align: right;
	position: absolute;
	right: 0px;
	bottom: 2px;
	pointer-events: none;
}

#attributions div
{
	color: white;
}

/****************************/
/*		Statistics box		*/
/****************************/

.statBox
{
	background-color: rgb(255,255,255);
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	opacity: 0.8;
	border-radius: 10px;
	padding: 5px;
	border:solid 1px orange;
	font-weight:bold;
}

/************************/
/*		Content box		*/
/************************/
.contentBox
{
	box-shadow: 0 0 6px #FF9E52, inset 0 1px 2px rgba(0, 0, 0, 0.08);
	border:solid 1px orange;
	border-radius: 10px;
	background-color: black;
	z-index: 2;
}

/****************************/
/*		Particular boxes	*/
/****************************/

#fov
{
	text-align: center;
	color: white;
}

/*** Iframe containing data from external resource ***/
#externalIFrame
{
	left: 10%;
	top: -1000px;
	position: absolute;
	padding: 15px;
	background-color: white;
	z-index: 9003;
}

#IFrameToolbar
{
	position: absolute;
	padding: 5px;
	display: inline-block;
	width: auto;
	top: -15px;
	left: -20px;
	height: 20px;
}

#IFrameToolbar button
{
	height: 20px;
	width: 20px;
}

#externalIFrame Iframe
{
	min-width: 500px;
	min-height: 500px;
	border: none;
}

.closeBtn
{
	position: absolute;
	top: -15px;
	right: -15px;
	cursor:pointer;
	display: inline;
}

/*** Fullscreen canvas ***/
.canvas
{
	width:100%;
	height:100%;
}

/*** Loading animation gif ***/
#loading
{
	position: absolute;
	left: 50%;
	top: 50%;
}

/*** Navigation options block(nameResolver, compass) ***/
#navigationDiv {
	position: absolute;
	right: 0px;
	margin-top: 5px;
	top: 10px;
	pointer-events: none;
	overflow: hidden;
	width: 275px;
}

/*** Left bottom components(share, mollweide, stats) ***/
#leftBottomDiv {
	position: absolute;
	left: 5px;
	bottom: 5px;
	pointer-events: none;
}

/*** Stylized fade on hover effect ***/
.defaultImg
{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}

.hoverImg
{
	position: absolute;
	top: 0;
	right: 0;
}

/*** Small modifications on jQuery UI ***/
.ui-widget
{
	font-size: 0.9em;
}

.ui-widget .ui-widget {
	font-size: 0.8em;
}

.ui-accordion-content {
	border-radius: 0px;
}

/*** Stylized scrollbar (only for webkit : chrome and safari) ***/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}
	
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background:#DFDFDF;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* No text selection for buttons */
 .ui-button, .ui-accordion-header, .noSelect
{
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

input::-moz-placeholder
{
	color: rgba(127,127,127,.5);
}

/* About link color */
#about a
{
	color: rgb(255, 173, 0);
}

