<div>
	<h3>Background layer</h3>
	<div id="backgroundLayers">
		<fieldset>
			<select style="display: none;" id="backgroundLayersSelect">
			</select>
		</fieldset>

		<div style="display: none" id="backgroundSpinner"></div>
		<br/>
		<div id="backgroundOptions">
			<input type="checkbox" id="fitsType" /><label for="fitsType">Fits</label>
			<input type="checkbox" id="fitsView" /><label for="fitsView">Image processing</label>
			<button class="layerServices">Available services</button>
			<button class="exportLayer">Send viewport by SAMP</button>
		</div>
		<button class="backToSky">Back to sky</button>
	</div>
</div>