<div id="imageProcessing">
	<div>
		<span class="processOption">Contrast : </span>
		<div class="contrast" style="display: inline-block;">
			<input name="fitsScale_<%= id %>" type="radio" value="raw" id="raw_<%= id %>" checked="checked" /><label for="raw_<%= id %>">Raw</label>
			<input name="fitsScale_<%= id %>" type="radio" value="linear" id="linear_<%= id %>" /><label for="linear_<%= id %>">Linear</label>
		  	<input name="fitsScale_<%= id %>" type="radio" value="log" id="log_<%= id %>" /><label for="log_<%= id %>">Log</label>
		  	<input name="fitsScale_<%= id %>" type="radio" value="sqrt" id="sqrt_<%= id %>" /><label for="sqrt_<%= id %>">Sqrt</label>
		  	<input name="fitsScale_<%= id %>" type="radio" value="sqr" id="sqr_<%= id %>" /><label for="sqr_<%= id %>">Pow2</label>
		  	<input name="fitsScale_<%= id %>" type="radio" value="asin" id="asin_<%= id %>" /><label for="asin_<%= id %>">AsinH</label>
		</div>
	</div>

	<div>
		<span class="processOption">Colormap : </span>
		<select class="colormap" style="width:100px;" disabled>
			<option value="grey">Grey</option>
			<option value="rainbow">Rainbow</option>
			<option value="stern">Stern</option>
			<option value="fire">Fire</option>
			<option value="eosb">EOSB</option>
		</select>
	</div>

	<div>
  		<span class="processOption"> Threshold : </span>
		<div class="thresholdSlider"></div>
	</div>

	<div>
	  	<span class="thresholdInputs">
	  		<label for="min">Min : </label><input type="text" id="min" disabled />
	  		<label for="max">Max : </label><input type="text" id="max" disabled />
	  	</span>
	</div>

	<div>
		<button disabled class="zScale">ZScale</button>
	</div>

	<div>
		<span style="width: auto" class="processOption"> Inverse : </span>
		<input id="inverse_<%= id %>" class="inverse" type="checkbox" disabled /><label for="inverse_<%= id %>"></label>
	</div>

	<div>
		<div class="processOption" >Histogram : </div>
		<canvas class="noSelect" id="histogram_<%= id %>" width="275" height="160"></canvas>
	</div>
</div>