<li class="image" id="imageView_<%= id %>" style="display: none;">
	<input type="checkbox" name="imageView" id="<%= id %>" checked />
	<label style="width: 15px; height: 15px;" for="<%= id %>"></label>
	<label class="imageName" title="<%= name %>"><%= name %></label>
	<div style="display: none;" class="options">
		<button class="zoomTo">Zoom to..</button>
		<button class="<% if (!isFits) print('fitsUnavailable') %> imageProcessing" id="imageProcessing_<%= id %>">Image processing</button>
		<button class="sampExport">Send image by SAMP</button>
		<button class="metadata">Show metadata</button>
		<button class="delete">Delete</button>
	</div>
</li>