<% for ( var key in properties )
{ 
	if ( key != 'style' && key != 'title' && key != 'quicklook' && key != 'thumbnail' )
	{	
		var stringKey = key.toString(); %>
	<tr height="30%">
		<% // Test if section
		if (typeof (properties[key]) === "object" )
		{	
			var title = dictionary[stringKey];
			if ( key == 'crs' )
			{%>
				<td id="<%=stringKey%>" title="<%= title%>" class="selectProperty"><em><%= stringKey %>:</em></td>
				<td title="<%= properties[key].properties.name %>" class="selectValue"><%= properties[key].properties.name %></td>
			<% } else { %>
				<td  id="<%=stringKey%>" title="<%= title%>" class="selectProperty" colspan="2">
					<div id="arrow" class="arrow-right"></div><div class="section"><b><%= stringKey %></b></div>
					<table class="propertiesTable" style="<% (!isMobile) ? print('width: 295px;') : "" %> display: none; margin-left: 10px" rules="rows">
						<tbody>
							<% print( descriptionTableTemplate( { dictionary: dictionary, properties: properties[key], descriptionTableTemplate: descriptionTableTemplate }) );
							 %>
						</tbody>
					</table>
				</td>
		<%	}
		}
		else
		{%>
			<td  id="<%=stringKey%>" title="<%= title%>" class="selectProperty"><em><%= stringKey %>:</em></td>
			<% 
			var isUrl = ( typeof (properties[key]) === "string" && properties[key].substr(0,4) == 'http' ) ? true : false;
			if (isUrl) {%>
				<td class="selectValue"><a href="<%= properties[key] %>"><%= properties[key] %></a></td>
			<% } else { %>
				<td class="selectValue" title="<%= properties[key] %>"><%= properties[key] %></td>
			<% }
		} %>
	</tr>
	<% }
} %>