<div id="overlappedObjects">
	<% if ( selection.length > 1 ) {%>
		<u>Overlapped observations:</u><br/>
	<% } else { %>
		<u>Object:</u><br/>
	<% } %>
	<div id="scroll-arrow-up" style="display: none" class="scroll-arrow-up"></div>
	<div id="featureListDiv">
		<div id="featureList">
			<%
			var title = "";
			for ( var i=0; i<selection.length; i++ )
			{ 
				var properties = selection[i].feature.properties;
				title = ( properties.title ) ? selection[i].feature.id : ( properties.identifier ) ? properties.identifier : properties.title;
			%>
				<div title=<%= title %> class="featureTitle"> <%= title %> <br/></div>
			<%
			}
			%>
		</div>
	</div>
	<div id="scroll-arrow-down" style="display: none" class="scroll-arrow-down clickable"></div>
</div>
