<div class="detailedInfo">
	<% if ( properties.thumbnail ) 
	{ %>
		<div class="thumbnail"><img src="<%= properties.thumbnail %>" /></div>
	<% } %>
	<div class="featureProperties">
		<table class="propertiesTable" rules="rows">
			<tbody>
				<% print(descriptionTableTemplate( { properties: properties, descriptionTableTemplate: descriptionTableTemplate }) ); %>
			</tbody>
		</table>
	</div>
	
	<div id="services">
		<%
		if ( properties.quicklook ) { %>
			<img title="Quicklook" id='quicklook' src="css/images/quicklook.png" class=<%= (properties.style.fill ? 'selected' : '' ) %> />
		<% } %>

		<% if ( services )
		{
			if ( services.download )
			{
				if ( services.download.mimetype == "image/fits" )
				{ %>
					<img title="Quicklook" id='quicklook' src="css/images/quicklook.png" class=<%= (properties.style.fill ? 'selected' : '' ) %> />
					<img title="Solar object service" id="solarObjects" src="css/images/solarObjectsService.png" class=<%= (services.solarObjects && services.solarObjects.layer.visible() ? 'selected' : '' ) %> />
				<%
				}
			 	%>
				<a href="<%= services ? services.download.url : "" %>" target="_self"><img title="Download" src="css/images/download1.png"></a>
				<%
			}
			if ( services.healpix ) { %>
				<img title="Healpix service" id='healpix' src="css/images/healpix.png" class=<%= (services.healpix.layer.visible() ? 'selected' : '' ) %> />
			<% }
		} %>
	</div>

</div>