<div class="detailedInfo">
	<% if ( feature.properties.thumbnail ) 
	{ %>
		<div class="thumbnail"><img src="<%= feature.properties.thumbnail %>" /></div>
	<% } %>
	<table class="propertiesTable" rules="rows">
		<tbody>
			<% print(descriptionTableTemplate( { properties: feature.properties, descriptionTableTemplate: descriptionTableTemplate }) ); %>
		</tbody>
	</table>
	
	<div id="services">
		<% if ( feature.services && feature.services.download ) { %>
			<a href="<%= feature.services ? feature.services.download.url : "" %>" target="_self"><img src="css/images/download1.png"></a>
		<% }
		if ( feature.properties.quicklook ) { %>
			<img id='quicklook' src="css/images/quicklook.png" class=<%= (feature.properties.style.fill ? 'selected' : '' ) %> />
		<% } %>
	</div>

</div>