<div id="overlappedObjects">
	<% if ( selection.length > 1 ) {%>
		<u>Overlapped objects:</u><br/>
	<% } else { %>
		<u>Object:</u><br/>
	<% } %>
	<div id="scroll-arrow-up" <%= arrowVisibility ? '' : 'style="display: none"' %> class="scroll-arrow-up"></div>
	<div id="featureListDiv">
		<div id="featureList">
			<%
			var title = "";
			for ( var i=0; i<selection.length; i++ )
			{ 
				var properties = selection[i].feature.properties;
				title = ( properties.title ) ? properties.title : properties.identifier;
			%>
				<div title=<%= title %> class="featureTitle"> <%= title %> <br/></div>
			<%
			}
			%>
		</div>
	</div>
	<div id="scroll-arrow-down" <%= arrowVisibility ? '' : 'style="display: none"' %>  class="scroll-arrow-down clickable"></div>
</div>