<div id="overlappedObjects">
	<u>Overlapped objects:</u><br/>
	<div id="scroll-arrow-up" <%= arrowVisibility ? '' : 'style="display: none"' %> class="scroll-arrow-up"></div>
	<div id="featureListDiv">
		<div id="featureList">
			<% for ( var i=0; i<selection.length; i++ )
			{ %>
				<div class="featureTitle"> <%= selection[i].feature.properties.object %> <br/></div>
			<% } %>
		</div>
	</div>
	<div id="scroll-arrow-down" <%= arrowVisibility ? '' : 'style="display: none"' %>  class="scroll-arrow-down clickable"></div>
</div>