<div id="accordion" style="display: none;">
	<div>
		<h3>Background layer</h3>
		<div id="backgroundLayers">
			<fieldset>
				<select style="display: none;" id="backgroundLayersSelect">
				</select>
			</fieldset>

			<div style="display: none" id="backgroundSpinner"></div>
			<br/>
			<div id="backgroundOptions">
				<input type="checkbox" id="fitsType" /><label for="fitsType">Fits</label>
				<input type="checkbox" id="fitsView" /><label for="fitsView">Image processing</label>
				<button class="layerServices">Available services</button>
				<button class="exportLayer">Send viewport by SAMP</button>
			</div>
		</div>
	</div>

	<div class="category">
		<h3>Other</h3>
		<div id="otherLayers"></div>
	</div>

	<div class="category">
		<h3>Coordinate systems</h3>
		<div id="coordinateSystems">
			<em>Default coordinate system:</em>
			<select id="defaultCoordSystem">
				<option value="EQ">Equatorial</option>
				<option value="GAL">Galactic</option>
			</select>
			<div id="coordinateGrids">
			</div>
		</div>
	</div>
</div>