<div class="mocLayer" id ="mocLayer_<%=layer.id%>">
	<% if( display )
	{
	%>
		<input class="display" id="display_<%=layer.id%>" type="checkbox" /><label for="display_<%=layer.id%>">Display</label>
	<%
	}
	else
	{
	%>
		<input id="mocCheck_<%=layer.id%>" type="checkbox" /><label for="mocCheck_<%=layer.id%>">Check</label>
	<%
	}
	%>
	<span class="mocName"><%=layer.name%></span>
	<span class="mocStatus"><% if ( layer.coverage == "Not available" ) print("(Not found)"); %> </span>
	<span class="mocCoverage">Sky coverage: <%= layer.coverage %></span>
	<br/>
</div>
