<div>
	<select id="uwsOptions">
		<option value="cutOut">CutOut</option>
		<option value="zScale">zScale</option>
	</select>

	<div id="cutOut">
		Selection tool: <input id="selectionTool" type="checkbox" /><label for="selectionTool"></label>
		<div style="text-align: center;">
			<button id="runJob">Cut</button>
			<div style="display: none;" id="jobInfo"></div>
		</div>
		<hr />
		<em>Results</em>
		<div id="cutoutResults">
			<ul style="list-style-type: none;">
			</ul>
		</div>
	</div>
	
	<div style="display: none; margin-top: 5px;" id="zScale">
		<p>Not implemented yet</p>
	</div>
</div>